{% extends 'base.html' %}

{% block main_content %}
<div class="logo clearfix">
  <div>&nbsp;</div>
</div>
<div class="hdivider clearfix">
  <div class="leftColumn titleText">
    WHAT WE'VE DONE
  </div>
  <div class="rightColumn titleText">
    CONNECT WITH US
  </div>
</div>
<div id="leftColumn">
  <div id="unisubsContainer" class="projectContainer">
    <div class="projectDescription">
      Universal Subtitles: collaborative video subtitling and translation.
    </div>
  </div>
  <div id="langolabContainer" class="projectContainer">
    <div class="projectDescription">
      Langolab: foreign language education through subtitled online video
    </div>
  </div>
  <div id="mvcContainer" class="projectContainer">
    <div class="projectDescription">
      Miro Video Converter: dead-simple video format conversion
    </div>
  </div>
  <div id="ietContainer" class="projectContainer">
    <div class="projectDescription">
      iEarnedThat: our first iPhone app
    </div>
  </div>
</div>
<div id="rightColumn">
</div>
{% endblock %}
